h1{
  text-align: center;
}

article{
  margin: auto;
  padding: 3em;
  max-width: 60em;
}

.selectable-row{
  cursor: pointer;
}

.selected-row{
  background-color: #e9f3f5;
}

/* Display error bolock if there are any errors */
.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}