h1{
  text-align: center;
  color: #86a1a3;
}

article{
  margin: auto;
  padding: 3em;
  max-width: 60em;
}

.selectable-row{
  cursor: pointer;
}

.selected-row{
  background-color: #e0e8e7;
}

/* Display error bolock if there are any errors */
.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}

/* AngularJS Form validation styling */
.validation.help-block {
    color: #ea6e6e;
    font-style: italic;
}

/* invalid & (dirty or touched) => red -- CSS3 only */
.ng-invalid.ng-dirty:not(:focus),
.ng-invalid.ng-touched:not(:focus) {
    border-color: #b9483c;
}

/* valid & dirty => green */
.ng-valid.ng-dirty.ng-touched {
    border-color: #2ecc71;
}

/* error display font italic, text-danger is red in BS */
.validation.text-danger {
    font-style: italic;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

/* Ui Select validation FIX */
.ui-select-container.ng-invalid.ng-touched .form-control {
  border-color: #b9483c;
}

.ui-select-container.ng-invalid.ng-dirty .form-control {
  border-color: #b9483c;
}

.ui-select-container.ng-dirty.ng-touched.ng-valid .form-control {
  border-color: #2ecc71;
}